# data, as too large to upload to github
Data/OriginalData/BBOX_Record
Data/OriginalData/Multiview_jpg
Data/ProcessedData/SIFT_try


# pycache
__pycache__
*/__pycache__
*/*/__pycache__
*/*/*/__pycache__
*/*/*/*/__pycache__
*/*/*/*/__pycache__